.form-container {
  width: 300px;
  margin: 0 auto;
}

.form-container form {
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: inherit;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 2px solid #000;
  border-radius: 5px; 
}

span{
  color: red;
  width: 100%;
}